.git
.vscode
.pnpm-store
node_modules
**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/.gradle
**/*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.production.example
!**/.env.example
apps/android-consumer/.gradle
apps/android-consumer/build
apps/android-consumer/app/build
apps/android-consumer/local.properties
