POSTGRES_DB=gregory
POSTGRES_USER=gregory
POSTGRES_PASSWORD=gregory

PGADMIN_DEFAULT_EMAIL=<admin-mail>
PGADMIN_DEFAULT_PASSWORD=<admin-pass>

DATABASE_URL=postgresql://gregory:gregory@postgres:5432/gregory?schema=public
JWT_SECRET=local-dev-secret
SEED_ADMIN_EMAIL=<admin-mail>
SEED_ADMIN_PASS=<admin-pass>
