POSTGRES_DB=gregory
POSTGRES_USER=gregory
POSTGRES_PASSWORD=gregory

PGADMIN_DEFAULT_EMAIL=admin@gregory.local
PGADMIN_DEFAULT_PASSWORD=admin

DATABASE_URL=postgresql://gregory:gregory@postgres:5432/gregory?schema=public
JWT_SECRET=local-dev-secret
